body {
    font-family: Arial, Helvetica, sans-serif, serif;
    font-size: 1.09rem;
    color: #333;
    background-color: #fffae7;
    margin: 0;
    word-spacing: -1px;
    line-height: 1.6;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 700px;
    margin: 20px auto;
    padding-top: 10px;
}

.introduction {
    padding-top: 10px;
    padding-bottom: 10px; 
}

.header h1 {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 2.1rem;
    margin-bottom: -10px;
}

.tagline {
    font-size: 1.0rem;
    display: none;
    color: #090000b6;
}

pre {
    font-family: monospace;
    line-height: 50%;
  
}

a {
    text-decoration: none;
    color: #3498db;
}

h1 {
    font-family: Tahoma, Verdana, Geneva, sans-serif
    word-spacing: -2px;
}

a:hover {
    text-decoration: underline;
}

.blog-post {
    width: 90%;
    max-width: 650px;
    margin: 40px auto;
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.blog-section h2 {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1.5rem;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

.blog-list {
    list-style-type: disc;
    padding: none;
}

.blog-list li {
    padding: 3px 0;
}

.blog-list a {
    font-size: 1.09rem;
    color:#007acc;
}

@media (max-width: 600px) {
    .container {
        width: 90%;
        padding: 10px;
    }
    .blog-post {
        width: 90%;
        padding: 10px;
    }
} 

/* Content Section */
.content-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.content-list li {
    margin: 10px 0;
    font-size: 1rem;
}

.content-list a {
    text-decoration: none;
    color: #007acc;
    font-weight: bold;
}

.content-list a:hover {
    text-decoration: underline;
}

/* Navigation Styles */
.nav-list {
    list-style: none;
    display: flex;
    gap: 15px;
    width: 90%;
    max-width: 700px;
    padding: 0px;
}

.nav-list li {
    font-size: 1rem;
}

.nav-list a {
    text-decoration: none;
    color: #007acc;
}

.nav-list a:hover {
    text-decoration: underline;
}