body {
    font-family: 'PT Serif', serif;
    font-size: 1.1rem;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
}

.header {
    text-align: center;
    padding: 20px;
    color: #ffffff;
    background-color: #000000;
}

.header h1 {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 2.5rem;
    margin: 0;
}

.tagline {
    font-size: 1.0rem;
    color: #ffffff;
}

pre {
    font-family: monospace;
    line-height: 50%;
  
}

a {
    text-decoration: none;
    color: #007BFF;
}

h1 {
    font-family: Tahoma, Verdana, Geneva, sans-serif
}

a:hover {
    text-decoration: underline;
}

.blog-post {
    width: 90%;
    max-width: 650px;
    margin: 40px auto;
    background-color: #fff;
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.blog-section h2 {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1.5rem;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

.blog-list {
    list-style-type: disc;
    padding: none;
}

.blog-list li {
    padding: 3px 0;
}

.blog-list a {
    font-size: 1.1rem;
    color: #333;
}

@media (max-width: 600px) {
    .container {
        width: 90%;
        padding: 10px;
    }
    .blog-post {
        width: 90%;
        padding: 10px;
    }
} 
